{{ define "main" }}
{{- $s := .Site.Params }}
{{- $p := .Params }}

<div class="grid-inverse wrap content">
  <article class="post_content">
    <h1 class="post_title">TUNA-JP へようこそ</h1>
    <img src="/images/index/tunamark-tuna-jp-big.png" alt=logo width=300>
    <p>TUNA-JPのコミュニティサイトです。</p>
    <p>TUNA-JPとは、Tanzu User kNowledge Assembly Japanの略称で、TanzuのOSSを利用するユーザーのコミュニティです。勉強会やSlackでのコミュニケーションを通じて、TanzuのOSSについてユーザー同士が交流することがTUNA-JPの目的です。</p>
    <p>コミュニティへの参加については、以下より参加ください。</p>
    <a href="https://tuna-fsz4514.slack.com/">
      <img src="/images/about/240px-Slack-icon-2019.svg.png" alt=slack width=100>
    </a>
 </article>
</div>
{{ end }}
