{{ define "main" }}
{{- $s := .Site.Params }}
{{- $p := .Params }}

<div class="grid-inverse wrap content">
  <article class="post_content">
    <h1 class="post_title">TUNA-JP へようこそ</h1>
    <p id="tuna"><img src="/images/index/tunamark-tuna-jp-big.png" width=300></p>
    <p>TUNA-JPのコミュニティサイトです。</p>
    <p>TUNA-JPとは、Tanzu User kNowledge Assembly
      Japanの略称で、TanzuのOSSを利用するユーザーのコミュニティです。勉強会やSlackでのコミュニケーションを通じて、TanzuのOSSについてユーザー同士が交流することがTUNA-JPの目的です。</p>
    <p>コミュニティへの参加については、以下より参加ください。</p>
    <a href="https://tuna-fsz4514.slack.com/">
      <img src="/images/about/240px-Slack-icon-2019.svg.png" width=100>
    </a>
  </article>

  <script src="//cdn.rawgit.com/namuol/cheet.js/master/cheet.min.js" type="text/javascript"></script>
  <script src="/js/tuna.js"></script>

</div>
{{ end }}