{{ define "main" }}
{{- $s := .Site.Params }}
{{- $p := .Params }}

<div class="grid-inverse wrap content loc-center">
  <article class="post_content">
    <p id="tuna"><img src="/images/index/tunamark-tuna-jp-big.png" width=300></p>
    <p>TUNA-JP へようこそ！</p>
    <p>TUNA-JP とは、 Tanzu User kNowledge Assembly
      Japan の略称で、 Tanzu の OSS を利用するユーザーのコミュニティです。勉強会や Slack でのコミュニケーションを通じて、 Tanzu の OSS についてユーザー同士が交流することが TUNA-JP の目的です。</p>
    <p>コミュニティへの参加については、以下より参加ください。</p>
　　　　　　　<div class="bt-loc"> 　<button onclick="location.href='https://join.slack.com/t/tuna-fsz4514/shared_invite/zt-xis7ntsh-RAHoCYwxhHzdZfmrX0pFSA'" class="button">Join TUNA-JP!</button> </div>
  </article>
  <script src="//cdn.rawgit.com/namuol/cheet.js/master/cheet.min.js" type="text/javascript"></script>
  <script src="/js/tuna.js"></script>

</div>
{{ end }}
